@import url(https://chatgpt.com/backend-api/estuary/content?id=file_00000000dd7c82108efa2af8400728ae&ts=497411&p=fs&cid=1&sig=7318e88853c30d7872d253661e98b70bf059a4a1ab463d2ccfb4b26b25b2b594&v=0);

body{
    font-family: verdana, geneva, tahoma,sans-serif;
    margin: 0;
    background-color: rgb(248, 244, 244);
}

header {
    padding: 40px;
    text-align: center;
}
h1{
    color: rgb(255, 134, 20);
    font-size: 3em;
}
main{
    padding: 30px;
}