/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body{
    font-family: verdana, geneva, tahoma,sans-serif;
    margin: 0;
    background-color: blueviolet;
}

header {
    padding: 40px;
    text-align: center;
}
h1{
    color: deeppink;
    font-size: 3em;
}
main{
    padding: 30px;
}